.logo{
  max-width: 100px;
  max-height: 100px;
  height: 100px;
  width: 100px;
}

.top{
  background:#333;
}

.menu{
  background:#333;
}

.bottom{
  background:#333;
}

.btn{
  background-color: #1b5e20;

}

.underButton{
    font-size:13px;
}

.center-button{
  height: auto;
    min-height: 20px;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 2%

}
